
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  height: 100vh;
}
body {
  background: rgb(36,34,0) !important;
  background: linear-gradient(63deg, rgba(36,34,0,1) 0%, rgba(106,9,121,1) 0%, rgba(255,0,166,1) 100%)  !important;
}

